/* unioversal css pseudo selectors */
:root {
    --white: #fff;
    --yellow: #fce138;
    --orange: #ec8a44;
    --grey: #7a7a7a;
    --DarkOrange: #ff6a00;
    --border-radius: 50px;
  }

  /* css for entire style.css */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: play;
  }
  
  h1 {
    color: var(--yellow);
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  
  header {
    padding: 30px;
    text-align: center;
    background: var(--orange);
    color: var(--white);
    position: sticky;
  }

  header h1 a{
    color: var(--yellow);
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  /* Navbar css */
  header nav ul li a {
    color: var(--white);
    padding: 14px 20px;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  
/*  active css */
  .indactive {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: var(--grey);
    cursor: pointer;
    font-size: 18px;
  }

  /*  active css */
  .hdnav {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: var(--white);
    cursor: pointer;
    font-size: 18px;
  }

  /* pseudo class and active */
  nav a:hover, .active {
    background-color: var(--white);
    color: var(--orange);
    border-radius: 15px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--orange);
    color: var(--white);
    margin-top: auto;
  }

  main div section img{
      border-radius: 2px;
  }
  
  .deva {
    flex: 1;
    background-color: var(--white);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .box {
    border-style: solid;
    border-color: #ec8a44;
    border-width: 1px;
    border-radius: var(--border-radius);
    padding: 15px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #bbbaba;
    margin: 20px;
  }
  

  .box > header {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 20px;
  }
  
  .box > p {
    text-align: center;
  }
  
  .box > img {
    width: 268px ;
    height: 350px;
  }

  .button{
    background-color: #ec8a44;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    color: var(--white);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;    
  }
  
  /* Media Queries*/
  @media screen and (max-width: 980px) and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  